$color__background: #293239;
$color__calculator_top_background: #293239;
$color__calculator_top_display_main_color: #FFFFFF;
$color__calculator_top_display_history_color: #FFFFFF;
$color__calculator_bottom_background: #293239;
$color__calculator_bottom_color: #7A7E83;
$color__calculator_button_normal_color: #FFFFFF;
$color__calculator_button_normal_background: #3B4852;

$color__base_red: #FF2F6F;
$color__base_green: #00E6BB;
$color__base_blue: #3E70FF;
$color__base_yellow: #FDD759;